*.py[cod]
solr*/solr/cores/*
!solr*/solr/cores/blank*
solr*/solr/cores/blank/data/*
solr*/solr/data/
solr*/solr/solr.xml
.project
.pydevproject
ENV
cherry/keys.db
cherry/saves/*.json
Web.log
solr.log
